@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.main-container {
  display: flex;
  width: 35%;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
}

.company {
  display: flex;
  gap: 10px;
}

input {
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exchanger {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

img {
  height: 60px;
  aspect-ratio: 1;
}

button,
select {
  padding: 5px 25px;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}
